# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a markdown cell to list data science libraries
- Create a markdown cell to list programming languages used in data science
- Create a markdown cell with a table of data science tools

Some of the popular languages that Data Scientists use are:
1. Java
2. Python
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Pandas
3. SciPy

| Data Science Tools | 
| ------------------ | 
| Hadoop | 
| Apache Spark |
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author
Robby Ackerman